/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "bootstrap";
@import "font-awesome";

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.btn:focus, .btn:active {
  outline: none !important;
}

.progress-bar-default {
  background-color: lighten(#000, 60%);
}

.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
// .tab-pane .list-group .glyphicon { margin-right:5px; }

hr { margin-top: 5px;margin-bottom: 10px; }
// .nav-pills > li > a {padding: 5px 10px;}

.tab-pane {
  .glyphicon {
    margin-right: 5px;
  }

  .list-group-header {
    font-weight: bold;
  }

  .list-group-item {
    &:first-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    &:last-child {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .fa {
      width: 15px;
      margin-right: 5px;
    }

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .checkbox {
      display: inline-block;
      margin: 0px;
    }

    .progress {
      margin: 0;
    }

    input[type="checkbox"] {
      margin-top: 2px;
      float: none;
    }
  }
}
